<!---Grace au selecteur on insere le composant cd
a l'aidfe du composant app qui est lui meme inserer dans
le composant de la page -->
<!---<app-cd></app-cd>--->
<app-header></app-header>
<!----<app-list-cds></app-list-cds>--->

<!---Toute l'application sera conditionner par toutes les routes qu'on vient d'emprunter-->
<router-outlet></router-outlet>
<!---Prof: On verra la semaine comment reccuperler les fichier de facon dynamique
ne plus utiliser les tableua on verrra la connexion http et la consommation d'une api
On verra les injection de dependace --->
