.cd-card{
  box-sizing: border-box;
  padding: 20px 30px;
  img{
    width:100%;
  }
  h2{
    margin-bottom: 0;
  }
  p{
    font-weight: bold ;
    font-size: 16px;
  }
  button{
    background-color: rgba(102,87,87,0.37);
    box-sizing: border-box;
    border: none;
    box-shadow: 3px 3px 3px;
    margin-right: 20px;
    outline: none;
    font-size: 14px;
    font-weight: 14px;
    &:active{
      transform: translate(1px,1px);
      box-shadow: 0 0 5px;
    }
  }
  &.cd-card{
    background-color: rgba(44,172,44,0.514);
  }
}

